nav a {
    text-decoration: none;
    color: darkblue;
}

nav a:hover {
    color:black;
    background-color: aqua;
    font-weight: bold;
}

footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
    background-color: black;
    display: block;
}